<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.pulseboard.telemetry</string>
  <key>ProgramArguments</key>
  <array><string>__NODE__</string><string>__SCRIPT__</string></array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>__LOG_DIR__/companion.log</string>
  <key>StandardErrorPath</key><string>__LOG_DIR__/companion-error.log</string>
</dict>
</plist>
